/*
body {
    background-color: #d7ccc8;
}
*/

.pad {
    padding-left: 4%;
    padding-right: 4%;
    box-shadow: 0 0 10px rgba(0,0,0,0);
}

nav ul a {
    color: #1976D2;
}


li .notopacity {
    background: rgba(124,179,66, 1);
}


nav {
    opacity: .8;
}