
.btncolor {
    opacity: 0.9;
    background-color: #7CB342;
}

nav {
    padding-left: 4%;
    padding-right: 4%;
    height: 0px;
}
.auth {
    min-width: 350px;
    width: 40%; padding-top: 20px;
}